<header>
  <table class="container">
    <tbody>
      <tr>
        <th width="15%"><a routerLink="/user-list"><img border="0" alt="Home Page" src="assets/home.svg" title="Go back to home page."></a></th>
        <th width="5%"></th>
        <th width="10%"><a href="#" routerLink="/user-list"><img border="0" alt="Login" src="assets/home36dp.svg" title="Home page."></a></th>
        <th width="10%"><a href="#" routerLink="/user-list"><img border="0" alt="Login" src="assets/people36dp.svg" title="User list."></a></th>
        <th width="45%"></th>
        <th width="15%"><a href="#" routerLink="/user-list"><img border="0" alt="Login" src="assets/login36dp.svg" title="Log into an account."></a></th>
      </tr>
    </tbody>
  </table>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>