<table>
    <tbody>
        <tr>
            <th width="15%">
                <input type="text" name="searchField" placeholder="Insert search query..." class="search">
            </th>
            <th width="5%" style="float: left;">
                <a href="#" routerLink="/user-list"><img alt="Search" src="assets/search36dp.svg"></a>
            </th>
            <th witdh="70%"></th>
            <th width="5%">
                <a href="#" routerLink="/user-list"><img alt="Filter" src="assets/filter36dp.svg"></a>
            </th>
            <th width="5%">
                <a href="#" routerLink="/user-list"><img alt="Add Person" src="assets/addperson36dp.svg"></a>
            </th>
        </tr>
    </tbody>
</table>
<body id="userlist">
    <br><br>
    <ul class="options" id="liststart">
        <li class="checkbox"></li>
        <li class="name">NOME DO USUÁRIO</li>
        <li class="email">E-MAIL</li>
        <li class="date">DATA DE ENTRADA</li>
        <li class="situation">SITUAÇÃO</li>
        <li class="actions">AÇÕES</li>
    </ul>
</body>